@import "~bootstrap/dist/css/bootstrap.min.css";
.card:hover{
    border: 3px solid;
    background-color:mediumaquamarine;
    color: white;
    text-decoration-color:palevioletred;
    padding: 10px;
    width: 400px !important;
    
    
  }
  button:hover{
      border: 3px solid;
      background-color: aliceblue;
  }